.task {
  cursor: pointer;
  background-color: white;
  color: #3b70ff;
  padding: 0.5rem 1rem;
  text-align: center;
  border: #3b70ff 1px solid;
  font-family: "Hind", sans-serif;
  margin: 0.5rem;
  border-radius: 4px;
  box-shadow: rgba(59, 112, 255, 0.1) 0px 2px 8px 0px;
}

.todo {
  margin: 0rem 2rem;
  padding: 0rem 4rem;
  
}

